{% extends "layout.html" %}

{% block title %}
    Register Password
{% endblock %}

{% block main %}
    <form action="/passwordChange" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username/User ID" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" id="old_password" name="old_password" placeholder=" Old Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" id="password" name="password" placeholder="New Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" id="retypePassword" name="confirmation" placeholder="Retype New Password" type="password" required>
        </div>
        {% if flag=="incorrect" %}
            <div style="font-size: 13px; color: #ff0000">
              Username, current or new passwords do not match
            </div><br/>
        {% endif %}
        <button class="btn btn-primary" id="submit" type="submit">Register New Password</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        let username=document.querySelector('#username');
        let password=document.querySelector('#password');
        let re_password=document.querySelector('#retypePassword');
        var signal = true;

        document.querySelector('form').onsubmit = function()
        {
                if (password.value != re_password.value)
                {
                    alert("Passwords don't match");
                    return false;
                }

                else if (username.value)
                {
                    $.get('/check?username=' + username.value, function(data)
                    {
                        if (data==false)
                        {
                            alert("Username not registered");
                            signal = false;
                        }
                    });
                }

                if (signal==false)
                {
                    signal=true;
                    return false;
                }
                else
                {
                    return true;
                }
        };

    </script>
{% endblock %}
